/* response css */

/* width > 1200px */
@media only screen and (min-width:1440px){
    .container{
        max-width:1200px;
    }
}
/* 1024px < width < 1440px */
@media only screen and (min-width:1024px) and (max-width:1440px){
    .container{
        max-width:1024px;
    }
}


/* 768px < width < 1024px */
@media only screen and (min-width:768px) and (max-width:1024px){
    .container{
        max-width:768px;
    }
}
/* 425px < width < 768px */
@media only screen and (min-width:425px) and (max-width:768px){
    .container{
        max-width:425px;
    }
}

/* 375px < width < 425px */
@media only screen and(min-width:375px) and (max-width:425px){
    .container{
        max-width:375px;
    }
}

/* width < 320px */

@media only screen and (max-width:320px) {
    .container{
        max-width:300px;
    }
}